################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SEDC.FoodApp/SEDC.FoodApp/.vs/SEDC.FoodApp/v16/.suo
